@model CompanyBecomeEmployeeViewModel

@{
    ViewBag.Title = "Become Employee";
}

<form method="post">
    <div class="text-center mt-4 mb-4">
        <h2>Are you sure you want to change your work place to @Model.companyName?</h2>
        <div class="d-flex justify-content-center mb-4">
            <button class="btn btn-outline-primary btn-rounded btn-md shadow" type="submit">Change company</button>
        </div>
    </div>
</form>