@model JobInputModel

@{
    ViewBag.Title = "Post a job";
}

<div class="col-sm-12 offset-md-1 col-md-10">
    <div class="row offset-2 col-8 mt-2">
        <div class="col-sm-12 col-lg-6"><img class="rounded-circle d-block w-100 text-center shadow" src="~/default pictures/Add Job Picture 2.jpg" alt="Recruiter img" /></div>
        <h6 class="heading-margin-h6 text-center col-sm-12 col-lg-6 mt-5">Post your job on the best professional network and get matched with the most qualified candidates for your role</h6>
    </div>
    <div class="row offset-2 col-8 mb-4">
        <div class="col-sm-12 col-lg-6"><h4 class="heading-margin-h4 text-center mt-5"><b><i>BoostUp</i></b> your work environment</h4></div>
        <div class="col-sm-12 col-lg-6"><img class="rounded-circle d-block w-100 text-center shadow" src="~/default pictures/Add Job Picture 1.jpg" alt="Recruiter img" /></div>
    </div>
</div>

<partial name="_JobInputPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}