@model JobInputModel

@{
    ViewBag.Title = "Edit job";
}

<div class="offset-sm-3 col-sm-6 offset-md-4 col-md-4 mt-5 mb-4"><h2 class="heading-margin text-center">@ViewBag.Title</h2></div>

<partial name="_JobInputPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}