@model IEnumerable<JobServiceModel>

@{
    ViewBag.Title = "My jobs";
    ViewBag.AllowJobEdit = true;
}

@if (!Model.Any())
{
    <h3 class="text-center mt-5 mb-5">You do not have any jobs posted!</h3>
}

<partial name="_JobsPartial" model="@Model" />